<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="filePath" value=""/>
      <add key="fileName" value="Settings.xml"/>
      <add key="theFindedInXmlNumberSettingsConnection" value="0"/>
      <add key="theFindedInXmlNumberSettingsDimensions" value="0"/>
      <add key="theFindedInXmlNumberSettingsStepMotor1" value="0"/>
      <add key="theFindedInXmlNumberSettingsStepMotor2" value="1"/>
    </appSettings>
</configuration>